@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;900&family=Martian+Mono:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-head: Rubik;
  --font-body: Gabarito;

  --gradient-color-1: #ebe6f9;
  --gradient-color-2: #e2d4de;
  --gradient-color-3: #fba2d3;
  --gradient-color-4: #fce1ff;
}

:root[data-mode="dark"] {
  --gradient-color-1: #192102;
  --gradient-color-2: #213527;
  --gradient-color-3: #15221b;
  --gradient-color-4: #0d340a;
}

body {
  background-color: var(--gradient-color-4);
}

html {
  min-height: 100vh;
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-head);
}

#root-gradient {
  width: 100%;
  height: 100%;
  --gradient-color-1: #ebe6f9;
  --gradient-color-2: #e2d4de;
  --gradient-color-3: #fba2d3;
  --gradient-color-4: #fce1ff;
}

html[data-mode="dark"] #root-gradient {
  --gradient-color-1: #192102;
  --gradient-color-2: #213527;
  --gradient-color-3: #15221b;
  --gradient-color-4: #0d340a;
}
