@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--font-display: var(--font-sans), "sans-serif";

	--color-destructive-foreground: var(--destructive-foreground);

	/* --color-red-*: initial; */
	--color-orange-*: initial;
	--color-yellow-*: initial;
	--color-lime-*: initial;
	--color-green-*: initial;
	--color-emerald-*: initial;
	--color-teal-*: initial;
	--color-cyan-*: initial;
	--color-sky-*: initial;
	--color-blue-*: initial;
	--color-indigo-*: initial;
	--color-violet-*: initial;
	--color-purple-*: initial;
	--color-fuchsia-*: initial;
	--color-pink-*: initial;
	--color-rose-*: initial;
	--color-gray-*: initial;
	--color-slate-*: initial;
	--color-zinc-*: initial;
	--color-stone-*: initial;
	--color-neutral-*: initial;
	--color-mist-*: initial;
	--color-mauve-*: initial;
	--color-olive-*: initial;
	--color-taupe-*: initial;
}

:root {
	--destructive-foreground: var(--color-red-700);
}

[data-theme="dark"],
[data-theme="dark"] * {
	--destructive-foreground: var(--color-red-400);
}
