@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--font-display: var(--font-sans), "sans-serif";
	--font-heading: var(--font-heading), "serif";

	--color-foreground: var(--primary);
	--color-background: var(--background);
	--color-destructive-foreground: var(--destructive-foreground);

	/* --color-red-*: initial; */
	--color-orange-*: initial;
	--color-yellow-*: initial;
	--color-lime-*: initial;
	--color-green-*: initial;
	--color-emerald-*: initial;
	--color-teal-*: initial;
	--color-cyan-*: initial;
	--color-sky-*: initial;
	--color-blue-*: initial;
	--color-indigo-*: initial;
	--color-violet-*: initial;
	--color-purple-*: initial;
	--color-fuchsia-*: initial;
	--color-pink-*: initial;
	--color-rose-*: initial;
	--color-gray-*: initial;
	--color-slate-*: initial;
	--color-zinc-*: initial;
	--color-stone-*: initial;
	--color-neutral-*: initial;
	--color-mist-*: initial;
	--color-mauve-*: initial;
	--color-olive-*: initial;
	--color-taupe-*: initial;
}

:root {
	--primary: oklch(22% 0.05 348);
	--background: oklch(99% 0.01 348);
	--destructive-foreground: var(--color-red-700);
}

[data-theme="dark"],
[data-theme="dark"] * {
	--primary: oklch(94% 0.02 148);
	--background: oklch(12% 0.02 148);
	--destructive-foreground: var(--color-red-400);
}

html {
	@apply bg-background text-foreground font-display font-medium antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
}
