name:        <STRING>
type:        <active|passive>
desc:        <STRING>
unique?:     <BOOLEAN>                # if the skill is unique to the hero
effect?:     <EXPR>
power?:      <NUMBER>                 # skill power
power_type?: <phys|magic|psych|mixed> # skill power type

# if power_type is mixed, this is the mix of power types, must have at least 2
power_type_mix?:
  - <phys|magic|psych>
  - <phys|magic|psych>

cooldown?:   <NUMBER> # cooldown in seconds
cost?:       <NUMBER|DELTA> # skill cost
level_req?:  <NUMBER> # level requirement

# optional list of upgrades that happen at x level
level_upgrades?:
  - level:            <NUMBER>
    description?:     <STRING>
    effect_change?:   <DELTA>
    cost_change?:     <DELTA>
    cooldown_change?: <DELTA>
    power_change?:    <DELTA>