input.theme {
  transform: rotate(90deg);
}
input.theme::before {
  background: url("/img/theme/sun.svg");
  transform: rotate(90deg);
}

input.theme:checked::before {
  background: url("/img/theme/evil-moon.svg");
  transform: translateX(1.25rem) rotate(270deg);
}
